<div ng-controller="userController">

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<md-card> 
			<md-toolbar>
			<div class="md-toolbar-tools">
				<span class="center-block">User Login</span>
			</div>
			</md-toolbar> 
			<md-card-content>
                            <form role=form novalidate name="loginform"  ng-submit=loginSubmit()>
				<md-input-container> <label>Email</label> <input type="email"
                                        name="email" required autofocus="true" autocomplete="off" ng-model="login_data.email">
                                    <div ng-messages="loginform.email.$error" ng-if='loginform.email.$dirty'>
                                        <span ng-message="required">Email is required</span>
                                        <span ng-message="email">Enter valid email</span>
                                    </div>
				</md-input-container>
                                <md-input-container> <label>Password</label> <input required
                                        name="password" type="password" ng-model="login_data.password">
                                     <div ng-messages="loginform.password.$error" ng-if='loginform.password.$dirty'>
                                        <span ng-message="required">Password is required</span>
                                    </div>
				</md-input-container>
                                <md-input-container>
                                <md-button class="md-raised md-primary " ng-disabled="loginform.$invalid"> Login </md-button>
                                </md-input-container>
                            </form>
			</md-card-content> 
                      <md-card-footer> 
                          <p>{{errormessage}}</p>
                      </md-card-footer> 
                   </md-card>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
</div>